* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  background: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --mainBorderColour: rgb(255, 122, 44);
  --mainButtonColour: rgb(164, 77, 0);
  --mainTextColour: black;
  --subTextColour: rgb(112, 116, 119);
  --backgroundGray: rgb(155, 155, 155);
  --lightBlueGray: rgb(202, 212, 221);
}

.App,
.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100vw;
  min-width: 1640px;
  height: 100vh;
  min-height: 856px;
  overflow-x: hidden;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}

.nav {
  width: 15%;
  height: 100%;
}

.body {
  width: 85%;
  height: 100%;
}

.interactiveButton:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  cursor: pointer;
}

.interactiveButton:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}
