.feedCont,
.feedPostsCont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feedCont {
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  max-width: 100%;
  gap: 10px;
  overflow-x: hidden;
}

.feedLPad {
  flex-grow: 1;
  height: 100%;
}

.feedPostsCont {
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  width: 30%;
  height: 100%;

  padding: 10px 0px 10px 0px;
}

.feedRPad {
  height: 100%;
  width: 25%;
}

/* feed content*/
.feedContentCont,
.feedContentUpperCont,
.feedContentUpperProfPic,
.feedContentPic,
.feedContentIconsCont,
.feedContentDescCont,
.feedContentComment,
.feedContentCommentsCont,
.feedContentAddCommentCont,
.feedContentCommentTop,
.feedContentCommentLikes,
.feedContentLikesImgDisplay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feedContentCont {
  width: 100%;
  gap: 10px;
  padding: 10px 0px 10px 0px;

  border: 1px solid rgb(197, 197, 197);

  border-radius: 5px;
}

.feedContentUpperCont {
  width: 90%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.feedContentUpperCont > div:nth-child(2) {
  /* user name upper div */
  flex-grow: 1;

  height: 50%;
  padding-left: 10px;
  overflow: hidden;
  font-size: 1rem;
  font-weight: bold;
}
.feedContentUpperCont > div:nth-child(2) :hover {
  cursor: pointer;
  color: var(--mainBorderColour);
}
.profilePageFollowBtn {
  cursor: pointer;
}
.feedContentUpperProfPic {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--backgroundGray);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.feedContentUpperProfPic:hover {
  cursor: pointer;
  border: 2px solid var(--mainBorderColour);
}

.feedContentPic {
  min-height: 500px;
  cursor: pointer;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  background-size: contain;
}
.feedContentPic:hover {
  filter: brightness(1.1);
}

.feedContentLikesImgDisplay {
  width: 100%;
  flex-direction: row;

  justify-content: flex-start;
  padding-left: 20px;
}

.feedContentIconsCont {
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: flex-start;
}

.feedContentHeart {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 30ms ease-in-out;
  margin-right: 10px;
}

.feedContentDescCont {
  width: 90%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}
.feedContentDescCont > p:nth-child(1) {
  font-weight: bold;
}
.feedContentDescCont > p:nth-child(1):hover {
  color: var(--mainBorderColour);
  cursor: pointer;
}

.feedContentCommentsCont::-webkit-scrollbar {
  display: none;
}

.feedContentCommentsCont {
  flex-direction: row;
  width: 90%;
  flex-grow: auto;
  max-height: 100px;
  overflow: scroll;
  gap: 15px;
  align-items: flex-start;
}

.feedContentComment {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.feedContentCommentTop {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feedContentCommentLikes {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 10%;
  justify-content: flex-end;
  gap: 5px;
  color: var(--subTextColour);
}
.feedContentCommentName {
  font-weight: bold;
}
.feedContentCommentName:hover {
  cursor: pointer;
  color: var(--mainBorderColour);
}

.feedContentDate {
  width: 90%;
  color: var(--subTextColour);
}

.feedContentAddCommentCont {
  width: 90%;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 30px;
  gap: 10px;
}

.feedContentAddCommentCont > input {
  border: 1px solid gray;
  padding-left: 10px;

  width: 85%;
  height: 90%;
  border-radius: 5px;
}
.feedContentAddCommentCont > input:focus {
  border: 2px solid var(--mainBorderColour);
}

.feedContentAddCommentCont > button {
  text-align: center;

  height: 100%;
  padding: 0px 10px 0px 10px;
}
.feedContentAddCommentCont > button:hover {
  cursor: pointer;
  color: var(--mainBorderColour);
}

.feedContentCommentHeart {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 30ms ease-in-out;
}

/* feed profile header */

.feedProfileHeaderCont,
.feedProfileHeaderUserPic,
.feedProfileHeaderUserNames {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feedProfileHeaderCont {
  min-height: 60px;
  border: 1px solid var(--lightBlueGray);
  border-radius: 5px;
  width: 90%;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: nowrap;
  gap: 10px;
}

.feedProfileHeaderUserPic {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50px;
  background-color: var(--backgroundGray);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feedProfileHeaderUserNames {
  font-size: 0.9rem;
}
.feedProfileHeaderUserNames > p:nth-child(2) {
  font-weight: bold;
}
.feedProfileHeaderGap {
  flex-grow: 1;
}
.feedProfileHeaderUserNames > p:nth-child(1):hover {
  color: var(--mainBorderColour);
  cursor: pointer;
}
.feedProfileHeaderUserPic:hover {
  border: 2px solid var(--mainBorderColour);
  cursor: pointer;
}
.feedProfileHeaderLogoutBtn:hover {
  color: var(--mainBorderColour);
  cursor: pointer;
}

/* suggestions */

.feedSuggestsCont,
.feedSuggestsUserCont,
.feedSuggestsList,
.feedSuggestsUserImg,
.feedSuggestsNamesCont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feedSuggestsCont {
  padding: 10px;
  gap: 30px;
  width: 20%;
  margin-top: 10px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.feedSuggestsList {
  gap: 10px;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.feedSuggestsUserCont {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  gap: 10px;
}

.feedSuggestsUserImg {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  overflow: hidden;
  border-radius: 50px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--backgroundGray);
}
.feedSuggestsUserImg:hover {
  border: 2px solid var(--mainBorderColour);
  cursor: pointer;
}

.feedSuggestsNamesCont {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  flex-grow: 1;
}

.feedSuggestsNamesCont > p:nth-child(1) {
  font-weight: bold;
}
.feedSuggestsNamesCont > p:nth-child(1):hover {
  font-weight: bold;
  cursor: pointer;
  color: var(--mainBorderColour);
}

.feedSuggestsButton {
  min-width: 25%;
}

.feedSuggestsButton:hover {
  color: var(--mainBorderColour);
  cursor: pointer;
}
